################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WpfNetSample/bin/Debug/netcoreapp3.1
/WpfNetSample/obj
